{{#if link}}
  <div class="info-link">
    <a href={{ link }} class="info-link__label link {{#if danger}}link--danger{{/if}}">
      {{ label }}
    </a>
  </div>
{{else}}
  <div class="info">
    <span class="info__label">
      {{ label }}
    </span>
    <span class="info__value">
      {{ value }}
    </span>
  </div>
{{/if }}

